$gray : #d3d3d3;
$green : #75B975;
$red : #FF00FF;


.project {
  background: $gray;
  border: 3px solid black;
    padding: 40px 80px;
    height: 70px;
  .red {
    color: $green;
  }
}

.round {
 height: 200px;
 width: 200px;
 border-radius: 50%;
}
.printProfile {
 text-align: center;
}

#search {
  text-align: center;
  display: none;
}
